name: Reusable - Pull Request
on:
  workflow_call:
    inputs:
      organization:
        required: true
        type: string
      repository:
        required: true
        type: string
      registry:
        description: "Docker registry"
        required: false
        type: string
        default: registry.hub.docker.com
##
##  Example how to use private shared actions
##
#    secrets:
#      github-pat:
#        required: true

env:
  ORGANIZATION: ${{ inputs.organization }}
  ACTION_REPO_NAME: ${{ inputs.repository }}

jobs:
  context:
    runs-on: ubuntu-latest
    steps:
      - id: context
        run: |
          echo "::set-output name=namespace::${{ github.event.pull_request.head.ref }}"
        shell: bash
    outputs:
      namespace: ${{ steps.context.outputs.namespace }}

  build:
    runs-on: ubuntu-latest
    if: ${{ github.event.action == 'opened' || github.event.action == 'synchronize' || github.event.action == 'reopened' || ( github.event.action == 'labeled' && github.event.label.name == 'deploy' ) }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

##
##  Example how to use private shared actions
##
#      - name: Checkout private actions
#        uses: actions/checkout@v2
#        with:
#          repository: ${{ inputs.organization }}/github
#          token: ${{ secrets.github-pat }}
#          path: github

      - name: Build
        id: build
        uses: ./github-shared-actions/actions/build
        with:
          organization: ${{ inputs.organization }}
          repository: ${{ inputs.repository }}
          registry: ${{ inputs.registry }}

    outputs:
      image: ${{ steps.build.outputs.image }}
      tag: ${{ steps.build.outputs.tag }}

  deploy:
    runs-on: ubuntu-latest
    needs: [ context, build ]
    if: ${{ ( github.event.action == 'opened' || github.event.action == 'synchronize' || github.event.action == 'reopened' || github.event.action == 'labeled' ) && contains(github.event.pull_request.labels.*.name, 'deploy') }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
##
##  Example how to use private shared actions
##
#      - name: Checkout private actions
#        uses: actions/checkout@v2
#        with:
#          repository: ${{ inputs.organization }}/github
#          token: ${{ secrets.github-pat }}
#          path: github-shared-actions

      - name: Deploy
        uses: ./github-shared-actions/actions/deploy
        with:
          stack: dev
          environment:  preview
          namespace: ${{ needs.context.outputs.namespace }}
          image: ${{ needs.build.outputs.image }}
          image-tag: ${{ needs.build.outputs.tag }}
          operation: deploy
##
##  Example how to use private shared actions
##
#          github-pat: ${{ secrets.github-pat }}

  destroy:
    runs-on: ubuntu-latest
    needs: [ context ]
    if: ${{ ( github.event.action == 'closed' && contains(github.event.pull_request.labels.*.name, 'deploy')) || ( github.event.action == 'unlabeled' && github.event.label.name == 'deploy' ) }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

##
##  Example how to use private shared actions
##
#      - name: Checkout private actions
#        uses: actions/checkout@v2
#        with:
#          repository: ${{ inputs.organization }}/github
#          token: ${{ secrets.github-pat }}
#          path: github-shared-actions

      - name: Destroy
        uses: ./github-shared-actions/actions/deploy
        with:
          stack: dev
          environment:  preview
          namespace: ${{ needs.context.outputs.namespace }}
          image: "<none>"
          image-tag: "<none>"
          operation: destroy
##
##  Example how to use private shared actions
##
#          github-pat: ${{ secrets.github-pat }}

      - uses: peter-murray/remove-labels-action@v1
        with:
          labels: deploy

#      - uses: mondeja/remove-labels-gh-action@v1
#        with:
#          token: ${{ github.token }}
#          labels: deploy
