name: Reusable - Pull Request
on:
  workflow_call:
    inputs:
      organization:
        required: true
        type: string
      repository:
        required: true
        type: string
      registry:
        description: "Docker registry"
        required: false
        type: string
        default: registry.hub.docker.com
      open:
        required: true
        type: boolean
        default: true
      labels:
        required: true
        type: string

##
##  Example how to use private shared actions
##
#    secrets:
#      github-pat:
#        required: true

env:
  ORGANIZATION: ${{ inputs.organization }}
  ACTION_REPO_NAME: ${{ inputs.repository }}

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        env: ["qa1", "qa2"]
    steps:
      - id: context
        run: |
          echo "::set-output name=${{ matrix.env }}::test-${{ matrix.env }}"
        shell: bash
    outputs:
      ${{ matrix.env }}: ${{ toJson(steps.context.outputs) }}

  context:
    runs-on: ubuntu-latest
    needs: ["test"]
    steps:
      - run: |
          echo "${{ toJson(needs.test) }}"
        shell: bash
      - id: context
        run: |
          echo "::set-output name=namespace::${{ github.event.pull_request.head.ref }}"
        shell: bash

      - uses: 1arp/create-a-file-action@0.2
        with:
          path: './'
          file: 'labels_env.yaml'
          content: |
            preview: deploy
            qa1: deploy/qa1
            qa2: deploy/qa2
            qa3: deploy/qa3
            qa4: deploy/qa4

      - uses: fabasoad/yaml-json-xml-converter-action@main
        id: yaml2json
        with:
          path: 'labels_env.yaml'
          from: 'yaml'
          to: 'json'

      - uses: edwardgeorge/jq-action@main
        id: deploy_envs
        with:
          compact: true
          input: ${{ steps.yaml2json.outputs.data }}
          script: ${{ format('with_entries(select(.value | IN({0}[]))) | keys', inputs.labels) }}

    outputs:
      namespace: ${{ steps.context.outputs.namespace }}
      labels_env: ${{ steps.yaml2json.outputs.data }}
      labels: ${{ inputs.labels }}
      deploy_envs: ${{ steps.deploy_envs.outputs.output }}

  build:
    runs-on: ubuntu-latest
    needs: [ context ]
    if: ${{ inputs.open }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

##
##  Example how to use private shared actions
##
#      - name: Checkout private actions
#        uses: actions/checkout@v2
#        with:
#          repository: ${{ inputs.organization }}/github
#          token: ${{ secrets.github-pat }}
#          path: github

      - name: Build
        id: build
        uses: ./github-shared-actions/actions/build
        with:
          organization: ${{ inputs.organization }}
          repository: ${{ inputs.repository }}
          registry: ${{ inputs.registry }}

    outputs:
      image: ${{ steps.build.outputs.image }}
      tag: ${{ steps.build.outputs.tag }}

  deploy:
    runs-on: ubuntu-latest
    if: ${{ inputs.open && needs.context.outputs.deploy_envs != '[]'  }}
    strategy:
      matrix:
        env: ${{ fromJson(needs.context.outputs.deploy_envs) }}
    environment:
      name: ${{ matrix.env }}
      url: ${{ steps.deploy.outputs.webapp-url }}
    needs: [ context, build ]
    steps:
      - name: Checkout
        uses: actions/checkout@v3
##
##  Example how to use private shared actions
##
#      - name: Checkout private actions
#        uses: actions/checkout@v2
#        with:
#          repository: ${{ inputs.organization }}/github
#          token: ${{ secrets.github-pat }}
#          path: github-shared-actions

      - name: Deploy
        uses: ./github-shared-actions/actions/deploy
        id: deploy
        with:
          stack: dev
          environment: ${{ matrix.env }}
          namespace: ${{ needs.context.outputs.namespace }}
          image: ${{ needs.build.outputs.image }}
          image-tag: ${{ needs.build.outputs.tag }}
          operation: deploy
##
##  Example how to use private shared actions
##
#          github-pat: ${{ secrets.github-pat }}

  destroy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        env: ["preview", "qa1", "qa2", "qa3", "qa4"]
    needs: [ context ]
    steps:
      - uses: edwardgeorge/jq-action@main
        id: label
        with:
          input: ${{ needs.context.outputs.labels_env }}
          script: ${{ format('.{0}', matrix.env) }}

      - uses: juniuszhangserai/getDeploymentById@v2.7
        id: deployment
        with:
          github-token: ${{ github.token }}
          ref-to-search: ${{ github.event.pull_request.head.ref }}
          env-name: ${{ matrix.env }}

      - id: context
        run: |
          echo "::set-output name=closed::${{ ! inputs.open }}"
          echo "::set-output name=need_purge::${{ ! inputs.open || ! contains(needs.context.outputs.labels, steps.label.outputs.output) }}"
          echo "::set-output name=deployment_exits::${{ steps.deployment.outputs.deploymentId != '' }}"
        shell: bash

      - name: Checkout
        if: ${{ steps.context.outputs.need_purge == 'true' && steps.context.outputs.deployment_exits == 'true' }}
        uses: actions/checkout@v3

##
##  Example how to use private shared actions
##
#      - name: Checkout private actions
#        uses: actions/checkout@v2
#        with:
#          repository: ${{ inputs.organization }}/github
#          token: ${{ secrets.github-pat }}
#          path: github-shared-actions

      - name: Destroy
        uses: ./github-shared-actions/actions/deploy
        if: ${{ steps.context.outputs.need_purge == 'true' && steps.context.outputs.deployment_exits == 'true' }}
        id: deploy
        with:
          stack: dev
          environment:  ${{ matrix.env }}
          namespace: ${{ needs.context.outputs.namespace }}
          image: "<none>"
          image-tag: "<none>"
          operation: destroy
##
##  Example how to use private shared actions
##
#          github-pat: ${{ secrets.github-pat }}

      - uses: peter-murray/remove-labels-action@v1
        if: ${{ steps.context.outputs.closed == 'true' }}
        with:
          labels: ${{ steps.label.outputs.output }}

      - uses: chrnorm/deployment-status@v2.0.0
        if: ${{ steps.context.outputs.need_purge == 'true' && steps.context.outputs.deployment_exits == 'true' }}
        with:
          state: inactive
          token: ${{ github.token }}
          deployment_id: ${{ steps.deployment.outputs.deploymentId }}
