name: Reusable - Release
on:
  workflow_call:
    inputs:
      organization:
        required: true
        type: string
      repository:
        required: true
        type: string
      registry:
        description: "Docker registry"
        required: false
        type: string
        default: registry.hub.docker.com
##
##  Example how to use private shared actions
##
#    secrets:
#      github-pat:
#        required: true

env:
  ORGANIZATION: ${{ inputs.organization }}
  ACTION_REPO_NAME: ${{ inputs.repository }}

jobs:
  create_branch:
    runs-on: ubuntu-lates
    steps:
      - name: creating release branch
        uses: satya-500/create-branch@v1.0
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          branch: release/${{ github.event.release.tag_name }}
          tag: tags/${{ github.event.release.tag_name }}

  promote:
    runs-on: ubuntu-latest
    steps:
      - shell: sh
        run: echo "Promote docker image ${{ inputs.registry }}/${{ inputs.repository }}:sha-${{ github.sha }} to ${{ inputs.registry }}/${{ inputs.repository }}:${{ github.event.release.tag_name }}"
#      - uses: EuphoricSystems/docker-promote-image@1.0.0
#        with:
#          src: ${{ inputs.registry }}/${{ inputs.repository }}:sha-${{ github.sha }}
#          destinations: ${{ inputs.registry }}/${{ inputs.repository }}:${{ github.event.release.tag_name }}
    outputs:
      image: ${{ inputs.registry }}/${{ inputs.repository }}
      tag: ${{ github.event.release.tag_name }}

  deploy_staging:
    runs-on: ubuntu-latest
    environment:
      name: staging
      url: ${{ steps.deploy.outputs.webapp-url }}
    needs: [ promote ]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
##
##  Example how to use private shared actions
##
#        with:
#          repository: ${{ inputs.organization }}/github
#          token: ${{ secrets.github-pat }}
#          path: github

      - name: Deploy
        id: deploy
        uses: ./github-shared-actions/actions/deploy
        with:
          stack: staging
          environment:  staging
          namespace: staging
          image: ${{ needs.promote.outputs.image }}
          image-tag: ${{ needs.promote.outputs.tag }}
          operation: apply
##
##  Example how to use private shared actions
##
#          github-pat: ${{ secrets.github-pat }}


  deploy_production:
    runs-on: ubuntu-latest
    environment:
      name: production
      url: ${{ steps.deploy.outputs.webapp-url }}
    needs: [ deploy_staging ]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
##
##  Example how to use private shared actions
##
#        with:
#          repository: ${{ inputs.organization }}/github
#          token: ${{ secrets.github-pat }}
#          path: github

      - name: Deploy
        id: deploy
        uses: ./github-shared-actions/actions/deploy
        with:
          stack: production
          environment:  production
          namespace: production
          image: ${{ needs.promote.outputs.image }}
          image-tag: ${{ needs.promote.outputs.tag }}
          operation: apply
##
##  Example how to use private shared actions
##
#          github-pat: ${{ secrets.github-pat }}
