name: Reusable - Pull Request
on:
  workflow_call:
    inputs:
      organization:
        required: true
        type: string
      repository:
        required: true
        type: string
      registry:
        description: "Docker registry"
        required: false
        type: string
        default: registry.hub.docker.com
      destroy:
        required: true
        type: boolean
        default: false
      labels:
        required: true
        type: string

##
##  Example how to use private shared actions
##
#    secrets:
#      github-pat:
#        required: true

env:
  ORGANIZATION: ${{ inputs.organization }}
  ACTION_REPO_NAME: ${{ inputs.repository }}

jobs:
  context:
    runs-on: ubuntu-latest
    steps:
      - id: context
        run: |
          echo "::set-output name=namespace::${{ github.event.pull_request.head.ref }}"
          echo "::set-output name=build_enabled::${{     github.event.pull_request.state == 'open' && ( github.event.action == 'opened' || github.event.action == 'synchronize' || github.event.action == 'reopened' || ( github.event.action == 'labeled' && github.event.label.name == 'deploy' ) ) }}"
          echo "::set-output name=deploy_enabled::${{ (  github.event.pull_request.state == 'open' && ( github.event.action == 'opened' || github.event.action == 'synchronize' || github.event.action == 'reopened' || github.event.action == 'labeled' ) && contains(github.event.pull_request.labels.*.name, 'deploy') ) }}"
          echo "::set-output name=destroy_enabled::${{ ( github.event.action == 'closed' && contains(github.event.pull_request.labels.*.name, 'deploy')) || ( github.event.pull_request.state == 'open' && github.event.action == 'unlabeled' && github.event.label.name == 'deploy' ) }}"
        shell: bash

      - uses: 1arp/create-a-file-action@0.2
        with:
          path: './'
          file: 'labels_env.yaml'
          content: |
            "deploy": "preview",
            "deploy/qa1": "qa1",
            "deploy/qa2": "qa2",
            "deploy/qa3": "qa3",
            "deploy/qa4": "qa4",          

      - uses: fabasoad/yaml-json-xml-converter-action@main
        id: yaml2json
        with:
          path: 'labels_env.yaml'
          from: 'yaml'
          to: 'json'
        - name: Print yaml2json result
          run: echo "${{ steps.yaml2json.outputs.data }}"
    outputs:
      namespace: ${{ steps.context.outputs.namespace }}
      build_enabled: ${{ steps.context.outputs.build_enabled }}
      deploy_enabled: ${{ steps.context.outputs.deploy_enabled }}
      destroy_enabled: ${{ steps.context.outputs.destroy_enabled }}
      labels_env: ${{ toJson(steps.context.outputs.lables_env) }}

  build:
    runs-on: ubuntu-latest
    needs: [ context ]
    if: ${{ needs.context.outputs.build_enabled == 'true' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

##
##  Example how to use private shared actions
##
#      - name: Checkout private actions
#        uses: actions/checkout@v2
#        with:
#          repository: ${{ inputs.organization }}/github
#          token: ${{ secrets.github-pat }}
#          path: github

      - name: Build
        id: build
        uses: ./github-shared-actions/actions/build
        with:
          organization: ${{ inputs.organization }}
          repository: ${{ inputs.repository }}
          registry: ${{ inputs.registry }}

    outputs:
      image: ${{ steps.build.outputs.image }}
      tag: ${{ steps.build.outputs.tag }}

  deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        env: ["preview", "qa1", "qa2", "qa3", "qa4"]
    environment:
      name: ${{ matrix.env }}
      url: ${{ steps.deploy.outputs.webapp-url }}
    needs: [ context, build ]
    steps:
      - name: Checkout
        uses: actions/checkout@v3
##
##  Example how to use private shared actions
##
#      - name: Checkout private actions
#        uses: actions/checkout@v2
#        with:
#          repository: ${{ inputs.organization }}/github
#          token: ${{ secrets.github-pat }}
#          path: github-shared-actions

      - name: Deploy
        uses: ./github-shared-actions/actions/deploy
        id: deploy
        if: ${{ matrix.env == 'preview' }}
        with:
          stack: dev
          environment: ${{ matrix.env }}
          namespace: ${{ needs.context.outputs.namespace }}
          image: ${{ needs.build.outputs.image }}
          image-tag: ${{ needs.build.outputs.tag }}
          operation: deploy
##
##  Example how to use private shared actions
##
#          github-pat: ${{ secrets.github-pat }}

  destroy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        env: ["preview", "qa1", "qa2", "qa3", "qa4"]
    needs: [ context ]
    steps:
      - name: Checkout
        uses: actions/checkout@v3

##
##  Example how to use private shared actions
##
#      - name: Checkout private actions
#        uses: actions/checkout@v2
#        with:
#          repository: ${{ inputs.organization }}/github
#          token: ${{ secrets.github-pat }}
#          path: github-shared-actions

      - uses: juniuszhangserai/getDeploymentById@v2.7
        id: deployment
        with:
          github-token: ${{ github.token }}
          ref-to-search: ${{ github.event.pull_request.head.sha }}
          env-name: ${{ matrix.env }}

      - name: Destroy
        uses: ./github-shared-actions/actions/deploy
        id: deploy
        with:
          stack: dev
          environment:  ${{ matrix.env }}
          namespace: ${{ needs.context.outputs.namespace }}
          image: "<none>"
          image-tag: "<none>"
          operation: destroy
##
##  Example how to use private shared actions
##
#          github-pat: ${{ secrets.github-pat }}

      - uses: peter-murray/remove-labels-action@v1
        with:
          labels: deploy

      - uses: chrnorm/deployment-status@v2.0.0
        if: steps.deployment.outputs.deploymentId != ''
        with:
          state: inactive
          token: ${{ github.token }}
          deployment_id: ${{ steps.deployment.outputs.deploymentId }}
